<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.inkdrop.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>697A2E0F-63A8-47B0-AEED-8941A59FC5C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E854C68-33C7-499D-90E6-A64692513044</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BC7C572-CCFB-48C6-91C7-42F7E3169F6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9639DDA8-29EF-49C0-9BD5-1BACD54A1A82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A7BF69A-B043-4854-9DE8-A5760ED9B240</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>697A2E0F-63A8-47B0-AEED-8941A59FC5C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD33299D-7496-4C05-8B1A-63BF2FBEE607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A7BF69A-B043-4854-9DE8-A5760ED9B240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Takuya Matsuyama</string>
	<key>description</key>
	<string>Inkdrop search and quick add notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Inkdrop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ink</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>&lt;?php

require_once("inkdrop.php");
$query = $argv[1];
$host = getenv('host');
$port = getenv('port');
$username = getenv('username');
$password = getenv('password');
$inkdrop = new Inkdrop($host, $port, $username, $password);
$result = $inkdrop-&gt;search($query);

echo $result;

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Inkdrop for "{query}"</string>
				<key>title</key>
				<string>Search Inkdrop</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BC7C572-CCFB-48C6-91C7-42F7E3169F6D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9639DDA8-29EF-49C0-9BD5-1BACD54A1A82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split2}</string>
				<key>title</key>
				<string>{var:split1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E854C68-33C7-499D-90E6-A64692513044</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>&lt;?php

require_once("inkdrop.php");

$query = $argv[1];

$host = getenv('host');
$port = getenv('port');
$username = getenv('username');
$password = getenv('password');

$inkdrop = new Inkdrop($host, $port, $username, $password);

$args = explode(":", $query, 2);
$title = $args[0];
$body = $args[1];

$tags = getenv('defaultTags');
$notebook = getenv('defaultNotebook');

$result = $inkdrop-&gt;create($title, $body, $notebook, $tags);

echo $result;

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A7BF69A-B043-4854-9DE8-A5760ED9B240</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ink+</string>
				<key>subtext</key>
				<string>&lt;title&gt;:&lt;contents&gt;</string>
				<key>text</key>
				<string>Create a new note on Inkdrop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD33299D-7496-4C05-8B1A-63BF2FBEE607</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>697A2E0F-63A8-47B0-AEED-8941A59FC5C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Inkdrop search and quick add notes</string>
	<key>uidata</key>
	<dict>
		<key>697A2E0F-63A8-47B0-AEED-8941A59FC5C7</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>6BC7C572-CCFB-48C6-91C7-42F7E3169F6D</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>8A7BF69A-B043-4854-9DE8-A5760ED9B240</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>8E854C68-33C7-499D-90E6-A64692513044</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>9639DDA8-29EF-49C0-9BD5-1BACD54A1A82</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>CD33299D-7496-4C05-8B1A-63BF2FBEE607</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>defaultNotebook</key>
		<string></string>
		<key>defaultTags</key>
		<string></string>
		<key>host</key>
		<string>localhost</string>
		<key>password</key>
		<string>bar</string>
		<key>port</key>
		<string>19840</string>
		<key>username</key>
		<string>foo</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>https://www.inkdrop.app/</string>
</dict>
</plist>
